/*
 *
 * RepMaster Stylesheet
 * This file controls the appearance of the RepMaster
 * login page.
 *
 */

/*
   Page Styling
 */

body {

    font-family: Arial, sans-serif;

    background-color: #f4f6f9;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    margin: 0;

}
/*
   Login Card
 */
.container{

    width: 350px;

    background: white;

    padding: 30px;

    border-radius: 12px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);


}


/*
   Main Heading
*/
h1 {

    text-align: center;

    color: #1f4e79;

}

h1:hover {

    color: red;

}
/*
   Paragraph
*/
p {

    text-align: center;

    color: gray;

}
/*
   Labels
 */
label {

    display: block;

    margin-top: 15px;

    font-weight: bold;

}

/*
   Text Boxes
 */
input {

    width: 100%;

    padding: 10px;

    margin-top: 5px;

    box-sizing: border-box;

}

/*
   Login Button
 */
button {

    width: 100%;

    margin-top: 20px;

    padding: 12px;

    background-color: #1f4e79;

    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}

/*
   Button Hover Effect
 */
button:hover {

    background-color: #163a5c;

}
/*
   Workout card
 */
.workout-card{

    background-color: white;

    max-width: 700px;

    padding: 30px;

    border-radius: 12px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

}
#createWorkoutForm{

    display: flex;

    flex-direction: column;

}
#createWorkoutForm label{

    margin-top: 15px;

    margin-bottom: 5px;

    font-weight: bold;

}
#createWorkoutForm input{

    padding: 12px;

    border-radius: 6px;

    border: 1px solid #ccc;

    font-size: 16px;

}
/*
   Notification
*/

.notification {

    position: fixed;

    top: 20px;

    right: 20px;

    background: #1f4e79;

    color: white;

    padding: 15px 20px;

    border-radius: 10px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

    opacity: 0;

    transform: translateX(100%);

    transition: all 0.4s ease;

    z-index: 1000;

    font-weight: bold;

}

.notification.show {

    opacity: 1;

    transform: translateX(0);

}


